<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossComing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,96}</string>
                <key>spriteSourceSize</key>
                <string>{246,96}</string>
                <key>textureRect</key>
                <string>{{300,1276},{246,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BossComing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{188,1341},{200,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BossComing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{2,1538},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossComing_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,103}</string>
                <key>spriteSourceSize</key>
                <string>{196,103}</string>
                <key>textureRect</key>
                <string>{{106,1543},{196,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CardTitle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,38}</string>
                <key>spriteSourceSize</key>
                <string>{142,38}</string>
                <key>textureRect</key>
                <string>{{430,295},{142,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CardTitle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,38}</string>
                <key>spriteSourceSize</key>
                <string>{142,38}</string>
                <key>textureRect</key>
                <string>{{403,1451},{142,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CardTitle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,37}</string>
                <key>spriteSourceSize</key>
                <string>{112,37}</string>
                <key>textureRect</key>
                <string>{{403,1595},{112,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FishWaveLogo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{939,292}</string>
                <key>spriteSourceSize</key>
                <string>{949,294}</string>
                <key>textureRect</key>
                <string>{{2,2},{939,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GetReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,66}</string>
                <key>spriteSourceSize</key>
                <string>{224,66}</string>
                <key>textureRect</key>
                <string>{{404,482},{224,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{2,1644},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackPot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,47}</string>
                <key>spriteSourceSize</key>
                <string>{148,47}</string>
                <key>textureRect</key>
                <string>{{354,1524},{148,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JackPot02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,46}</string>
                <key>spriteSourceSize</key>
                <string>{148,46}</string>
                <key>textureRect</key>
                <string>{{94,1648},{148,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JackPot03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,48}</string>
                <key>spriteSourceSize</key>
                <string>{147,48}</string>
                <key>textureRect</key>
                <string>{{304,1524},{147,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PaperRollCollection10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,56}</string>
                <key>spriteSourceSize</key>
                <string>{206,56}</string>
                <key>textureRect</key>
                <string>{{404,956},{206,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PaperRollCollection11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,72}</string>
                <key>spriteSourceSize</key>
                <string>{173,72}</string>
                <key>textureRect</key>
                <string>{{398,1276},{173,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureSkill01_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,33}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{404,1164},{110,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TreasureSkill02_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,34}</string>
                <key>spriteSourceSize</key>
                <string>{111,34}</string>
                <key>textureRect</key>
                <string>{{244,1677},{111,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WPageWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,132}</string>
                <key>spriteSourceSize</key>
                <string>{478,132}</string>
                <key>textureRect</key>
                <string>{{296,2},{478,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,25}</string>
                <key>spriteSourceSize</key>
                <string>{49,25}</string>
                <key>textureRect</key>
                <string>{{442,1632},{49,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusGameText01_1_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,58}</string>
                <key>spriteSourceSize</key>
                <string>{246,58}</string>
                <key>textureRect</key>
                <string>{{404,708},{246,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusGameText01_2_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,36}</string>
                <key>spriteSourceSize</key>
                <string>{291,36}</string>
                <key>textureRect</key>
                <string>{{430,2},{291,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusGameText01_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,184}</string>
                <key>spriteSourceSize</key>
                <string>{593,184}</string>
                <key>textureRect</key>
                <string>{{2,943},{593,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,21}</string>
                <key>spriteSourceSize</key>
                <string>{73,21}</string>
                <key>textureRect</key>
                <string>{{439,1164},{73,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_text01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,106}</string>
                <key>spriteSourceSize</key>
                <string>{395,106}</string>
                <key>textureRect</key>
                <string>{{296,482},{395,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_text02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,106}</string>
                <key>spriteSourceSize</key>
                <string>{396,106}</string>
                <key>textureRect</key>
                <string>{{188,943},{396,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_text03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,106}</string>
                <key>spriteSourceSize</key>
                <string>{395,106}</string>
                <key>textureRect</key>
                <string>{{296,879},{395,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,27}</string>
                <key>spriteSourceSize</key>
                <string>{48,27}</string>
                <key>textureRect</key>
                <string>{{244,1648},{48,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{443,1526},{51,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_skilltext01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,27}</string>
                <key>textureRect</key>
                <string>{{443,1451},{73,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_skilltext02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{443,1579},{51,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zh-TW.png</string>
            <key>size</key>
            <string>{472,1713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe80b8fdc23631c3b8d99abb555c1103:bd177cc9137fb857f72c1579358ff2d6:bd2caf7b3b8d10c1b615e31d4e0a1b89$</string>
            <key>textureFileName</key>
            <string>zh-TW.png</string>
        </dict>
    </dict>
</plist>
